# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2bf63777f7dd63500a5311fc4c8229bd620a422aa1589cc464b52fda4c200bcf48aadd47726d740b7e6ff0c83223614cc012783f34cc5a8bfe17b933cdcb0ca7
  some_api_key: SOMEKEY

  amazon:
    s3_bucket_name: 'asd'
    aws_access_key_id: 'asd'
    aws_secret_access_key: 'asd'

test:
  secret_key_base: ba335f80596dd96bbc69e0282b61dd0672f5592c347a27deb80db10a723099db3228ce941106901c3c605f0ef5c7f7f8bc736ff0d841800716abfd9f87e31e75

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
